<div class="works">

        <div class="magazine_panels">
            <img class="magazine_panel" src="./img/magazine.jpg" alt="Gaming Magazine" />
        </div>

        <div class="hallway-painting_panels">
            <img class="hallway-painting_panel" src="./img/hallway-painting-cover.jpg" alt="Hallway Pallete Knife Painting" />
        </div>

        <div class="music-poster_panels">
            <img class="music-poster_panel" src="./img/music-poster-mockup.jpg" alt="Music Poster" />
        </div>

        <div class="oreo_panels">
            <img class="oreo_panel" src="./img/oreo.jpg" alt="OREO GIF" />
        </div>

        <div class="bartram_panels">
            <img class="bartram_panel" src="./img/bartram.jpg" alt="Bartram's Garden" />
        </div>

        <div class="cake_panels">
            <img class="cake_panel" src="./img/cake.jpg" alt="Cake Map" />
        </div>

        <div class="cake-menu_panels">
            <img class="cake-menu_panel" src="./img/cake-menu.jpg" alt="Cake GIF" />
        </div>

        <div class="pill-print_panels">
            <img class="pill-print_panel" src="./img/medicine-cover.jpg" alt="Medicine Screenprint" />
        </div>

    </div>
