<div class="works">

        <div class="magazine_panels">
            <img class="magazine_panel" src="./img/magazine.jpg" alt="Gaming Magazine" />
        </div>

        <div class="hallway-painting_panels">
            <img class="hallway-painting_panel" src="./img/hallway-painting.png" alt="Hallway Pallete Knife Painting" />
        </div>

        <div class="music-poster_panels">
            <img class="music-poster_panel" src="./img/music-poster-mockup.jpg" alt="Music Poster" />
        </div>

        <div class="oreo_panels">
            <img class="oreo_panel" src="./img/oreo.jpg" alt="OREO GIF" />
        </div>

    </div>
