<div class="wback">

    <div class="wpanels">

        <audio autoplay loop id="music_panel">
            <source src="jewel.ogg" type="audio/ogg" />
            <source src="jewel.mp3" type="audio/mpeg" />
        </audio>

        <div class="wyesnote">
            <img src="./img/note.png" onClick="document.getElementById('music_panel').play(); return false;" />
            <img src="./img/notesn.png" onClick="document.getElementById('music_panel').pause(); return false;" />
        </div>

        <div class="commssheetw_panel">
            <img class="commssheetw" src="./img/commssheetw.png" alt="Writing Comms Sheet"/>
        </div>

        <div class="commssheetws_panel">
            <img class="commssheetws" src="./img/commssheetws.png" alt="Writing Comms Sheet Small"/>
        </div>

    </div>
</div>