.about-image-blurb {

    @include lg {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 30px;
    }
}

.selfie {
    object-fit: cover;
    width: 350px;
    padding-top: 80px;
    margin-left: 30px;

    @include md {
        width: 450px;
        float: none;
        align-items: center;
        justify-content: center;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
    }

    @include lg {
        width: 500px;
        float: right;
        padding-top: 150px;
        margin-left: 110px;

    }
}


.aboutintro {

    display: block;
    list-style-type: none;
    font-size: 40px;
    padding-top: 16px;
    padding-left: 30px;
    width: 95%;

    @include md {
        font-size: 50px;
        align-items: center;
        padding-top: 0px;
    }

    @include lg {
        font-size: 60px;
        width: 80%;
        padding-top: 75px;
    }
}

#name {
    color: #f590a1;
    // text-shadow: -1px 1px #000000;

    @include md {
        // text-shadow: -2px 2px #000000;
    }
}

.about-paragraph {
    font-size: 18px;
    font-weight: 300;
    padding-left: 1.5px;
    padding-top: 12px;

    @include md {
        font-size: 20px;
    }

    @include lg {
        font-size: 20px;
    }
}

.about-icons {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
}

.email-logop {
    width: 35px;
    margin-bottom: -12px;
    margin-right: 10px;

    &:hover {
        transition: .3s ease;
        filter: brightness(0) saturate(100%) invert(84%) sepia(21%) saturate(5134%) hue-rotate(302deg) brightness(99%) contrast(91%);
    }
}

.insta-logop {
    width: 20px;
    margin-bottom: -6px;
    margin-left: 3.5px;
}

hr {
    height: 2px;
    border: 0;
    background-color: #f590a1;
    margin-left: 25px;
    margin-right: 25px;

    @include md {
        margin-left: 30px;
        margin-right: 30px;
    }

    @include lg {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.bottom-block {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.education {
    padding-top: 30px;
    padding-left: 40px;
    list-style-type: none;

    @include md {
        padding-left: 59px;
    }
}

.education-title {
    color: #f590a1;
    font-size: 25px;
    font-weight: bold;
    padding-left: 1.5px;
    padding-bottom: 5px;
}

.education-title-2 {
    font-size: 18px;
    font-weight: bold;
    padding-left: 1.5px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.packaging-title-2 {
    font-size: 18px;
    font-weight: bold;
    padding-left: 1.5px;
    padding-bottom: 5px;
}

.education-2 {
    font-size: 18px;
    font-weight: 300;
    padding-left: 1.5px;
}

.education-3 {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 5px;
}

.skills-experience {
    list-style-type: none;
    padding-top: 30px;
    padding-left: 40px;

    @include md {
        padding-left: 59px;
    }
}

.honors {
    list-style-type: none;
    padding-left: 40px;
    padding-top: 30px;

    @include md {
        padding-left: 59px;
    }
}

.honors-2 {
    list-style-type: none;
    padding-left: 40px;
    padding-top: 30px;

    @include md {
        padding-left: 59px;
    }
}

.programs {
    list-style-type: none;
    //padding-top: 30px;
    padding-left: 40px;
    padding-top: 30px;

    @include md {
        padding-left: 59px;
    }
}

.resume-button {
    color: #000000;
    transition: 0.25s;
    padding: 10px 20px;
    border-radius: 30px;
    border: solid 2px #000000;
    width: fit-content;
    font-size: 20px;
    margin-bottom: 20px;
}

.resub {
    text-decoration: none;
    color: #000000;
}

.bottom-block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 30px;
    width: 90%;

    @include md {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

.signature {
    padding-top: 30px;
    width: 250px;
    margin-bottom: -10px;
}