.project-title-and-text {
    width: 90%;
    padding-left: 30px;
    list-style-type: none;
    margin-bottom: 65px;

    @include md {
        margin-bottom: 80px;
    }
}

.project-title {
    padding-top: 50px;
    font-size: 40px;
    font-weight: 450;
    color: #f590a1;
    font-weight: bold;

    @include md {
        font-size: 50px;
    }
}

.project-type {
    font-size: 25px;

    @include md {
        font-size: 30px;
    }
}

.project-tools {
    font-size: 25px;
    color: #808080;

    @include md {
        font-size: 30px;
    }
}

.project-about-title {
    padding-top: 50px;
    font-size: 25px;
    font-weight: bold;

    @include md {
        font-size: 30px;
    }
}

.project-process-title {
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;


    @include md {
        font-size: 30px;
    }
}

.project-body-text {
    font-size: 20px;
    width: 100%;

    @include md {
        width: 740px;
    }
}

.accord-dieline-web {
    display: none;

    @include lg {
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-bottom: 55px;
    }
}

.accord-dieline-mobile {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 55px;

    @include lg {
        display: none;
    }
}

.project-image-80-perc {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 55px;

    @include md {
        width: 60%;
    }
}

.project-image-70-perc {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 55px;
    display: block;

    @include md {
        width: 35%;
    }
}