.back {
    width: 90%;
    padding-left: 30px;
}

.project-title {
    padding-top: 50px;
    font-size: 40px;
    font-weight: 450;
    color: #AA8500;
    list-style-type: none;

        @include md {
        font-size: 50px;
    }
}

.project-type-tools {
    font-size: 30px;
    color: #000000;
    list-style-type: none;

        @include md {
        font-size: 40px;
    }
}

.project-about-title {
    padding-top: 50px;
    font-size: 30px;
    color: #000000;
    list-style-type: none;
 
        @include md {
        font-size: 40px;
    }
}

.project-process-title {
    padding-top: 20px;
    font-size: 30px;
    color: #000000;
    list-style-type: none;
 
        @include md {
        font-size: 40px;
    }
}

.project-about-text {
    font-size: 20px;
    color: #000000;
    list-style-type: none;
    width: 100%;

    @include md {
        width: 740px;
    font-size: 30px;
    font-weight: 350;
    }

        @include lg {
    font-weight: 340;
    }
}

.accord-image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40px;

    @include md {
        width: 70%;
    }
}

.accord-image-web {
    display: none;

    @include lg {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40px;
    }
}

.accord-image-mobile {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40px;

    @include lg {
        display: none;
    }
}

.accord-new-pc {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 85px;
    padding-bottom: 65px;

    @include md {
        width: 70%;
    }
}

.accord-new-phone {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    display: block;
    
        @include md {
        width: 50%;
        padding-bottom: 60px;
        padding-top: 80px;
    }
}