.aback {
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

html,
body {
    overflow-x: hidden;
}

.apanels {
    align-items: left;
    padding-top: 8%;
    padding-bottom: 1%;

    @include md {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        padding-top: 5%;
    }

    @include lg {
        padding-top: 5%;
    }
}

.ayesnote {
    scale: 40%;
    cursor: pointer;

}