// .project-about-title {
//     font-size: 30px;
//     color: #000000;
//     list-style-type: none;
 
//         @include md {
//         font-size: 40px;
//     }
// }

.phone {
  width: 300px;              /* Set phone width */
  height: 600px;             /* Phone height */
  border: 12px solid #000;   /* Phone frame */
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  margin: 40px auto;
  background: #000;
}

.phone-screen {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;         /* Firefox */
}

.phone-screen::-webkit-scrollbar {
  display: none;                 /* Chrome/Safari */
}

.phone-screen img {
  width: 100%;
  display: block;
}