.back {
    width: 90%;
    padding-left: 30px;
  }  

.project-title {
    padding-top: 50px;
    font-size: 40px;
    font-weight: 450;
    color: #AA8500;
    list-style-type: none;

        @include md {
        font-size: 50px;
    }
}

.project-type-tools {
    font-size: 30px;
    color: #000000;
    list-style-type: none;

        @include md {
        font-size: 40px;
    }
}

.project-about-title {
    padding-top: 50px;
    font-size: 30px;
    color: #000000;
    list-style-type: none;
 
        @include md {
        font-size: 40px;
    }
}

.project-process-title {
    padding-top: 20px;
    font-size: 30px;
    color: #000000;
    list-style-type: none;
 
        @include md {
        font-size: 40px;
    }
}

.project-about-text {
    font-size: 20px;
    color: #000000;
    list-style-type: none;
    width: 100%;

    @include md {
        width: 740px;
    font-size: 30px;
    font-weight: 350;
    }

        @include lg {
    font-weight: 340;
    }
}

.magazine-image1 {
    width: 100%;
    display: flex;
    padding-top: 40px;
    padding-bottom: 11px;
    justify-content: center;
}

.bit-1c {
    object-fit: cover;
    width: 100%;
}

.bit-1d {
    width: 100%;
    object-fit: cover;
}

.oreo-palette {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 11px;

        @include md {
        grid-template-columns: repeat(2, 1fr);
    }
}

.oreo-vid {
    object-fit: cover;
    width: 100%;

    @include md {
        width: 80%;
    }
}

.crsm-tablet-vid {
    object-fit: cover;
    width: 70%;

    @include md {
        width: 70%;
    }
}