.title {
    padding-top: 50px;
    font-size: 60px;
    font-weight: 450;
    color: #FFC700;
    list-style-type: none;
    text-shadow: -2px 2px  #000000;
}

.title-2 {
    font-size: 25px;
    color: #000000;
    list-style-type: none;
}

.objective {
    padding-top: 50px;
    font-size: 30px;
    color: #000000;
    list-style-type: none;
    text-shadow: -0.8px 0.8px  #FFC700;
}

.objective-2 {
    font-size: 20px;
    color: #000000;
    list-style-type: none;
    width: 740px;
}

.objective-3 {
    padding-top: 20px;
    font-size: 30px;
    color: #000000;
    list-style-type: none;
    text-shadow: -0.8px 0.8px #FFC700;
}

.magazine-image1 {
    width: 100%;
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
}

.magazine-cover-spread {
  width: 50%;
  padding-bottom: 11px;
}

.magazine-spread-1 {
     width: 100%;
     padding-bottom: 11px;
   }

.bit-1a {
    width: 33%;
    padding-bottom: 11px;
  }

.bit-1b {
    width: 49%;
    padding-bottom: 11px;
  }

.bit-1c {
    width: 100%;
    object-fit: cover;
    column-gap: 30px;
  }

.bit-1d {
    width: 100%;
    object-fit: cover;
    column-gap: 30px;
  }

.bit-1e {
    width: 100%;
    object-fit: cover;
    column-gap: 30px;
  }

  .bits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 550px 550px 517px 1fr;
    gap: 11px;
    }

 .alt-spreads {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 415px 1fr;
        gap: 11px;
        }

.alt-spread-1a {
            width: 100%;
            object-fit: cover;
            column-gap: 30px;
          }

.alt-spread-1b {
            width: 100%;
            object-fit: cover;
            column-gap: 30px;
          }