.back {
    width: 90%;
    padding-left: 30px;
  }  

.project-title {
    padding-top: 50px;
    font-size: 60px;
    font-weight: 450;
    color: #FFC700;
    list-style-type: none;
    text-shadow: -2px 2px #000000;
}

.project-class {
    font-size: 40px;
    color: #000000;
    list-style-type: none;
}

.objective-1 {
    padding-top: 50px;
    font-size: 40px;
    color: #000000;
    list-style-type: none;
    text-shadow: -0.8px 0.8px #FFC700;
}

.objective-2 {
    padding-top: 20px;
    font-size: 40px;
    color: #000000;
    list-style-type: none;
    text-shadow: -0.8px 0.8px #FFC700;
}

.objective-body {
    font-size: 30px;
    color: #000000;
    list-style-type: none;
    width: 100%;

    @include md{
    width: 740px;   
    }
}

// .hallway-image1 {
//     width: 100%;
//     display: flex;
//     padding-top: 40px;
//     padding-bottom: 11px;
// }

.accord-image {
    width: 85%;
    justify-content: center;
    display: flex;
    padding-bottom: 11px;
}

// .augment_over-accord {
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//     gap: 11px;

//     @include lg{
//         grid-template-columns: repeat(2, 1fr);
//         }
// }

// .logo-ani3 {
//     grid-template-rows: repeat(2);
//     gap: 11px;
// }

// .logo-ani4 {
//     grid-template-rows: repeat(2);
//     gap: 11px;
// }

.accord-pics {
padding-top: 40px;
justify-content: center;
//display: block;
}

// .augment-pics2 {
//     grid-template-rows: repeat(2);
//     gap: 11px;
// }

// .augment_over {
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//     gap: 11px;
//     padding-top: 30px;

//     @include md {
//     grid-template-columns: repeat(2, 1fr);
//     }
// }