.back {
    width: 90%;
    padding-left: 30px;
}

.project-title {
    padding-top: 50px;
    font-size: 60px;
    font-weight: 450;
    color: #AA8500;
    list-style-type: none;
 
}

.project-class {
    font-size: 40px;
    color: #000000;
    list-style-type: none;
}

.objective-1 {
    padding-top: 50px;
    font-size: 40px;
    color: #000000;
    list-style-type: none;
 
}

.objective-2 {
    padding-top: 20px;
    font-size: 40px;
    color: #000000;
    list-style-type: none;
 
}

.objective-body {
    font-size: 30px;
    color: #000000;
    list-style-type: none;
    width: 100%;

    @include md {
        width: 740px;
    }
}

.oreo-guidelines {
    color: #000000;
    transition: 0.25s;
    padding: 10px 20px;
    border-radius: 30px;
    border: solid 2px #000000;
    width: fit-content;
    font-size: 20px;
    margin-top: 25px;
    list-style-type: none;
}

.oreob {
    text-decoration: none;
    color: #000000;
}

.accord-image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40px;

    @include md {
        width: 70%;
    }
}

.accord-oreo-image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40px;

    @include md {
         width: 70%;
    }

    @include lg {
        width: 60%;
   }
}

.oreo-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40px;

    @include md {
    width: 90%;
    }
}

.magazine-image1 {
    width: 100%;
    display: flex;
    padding-top: 40px;
    padding-bottom: 11px;
    justify-content: center;
}

.oreo-palette {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 11px;

        @include md {
        grid-template-columns: repeat(2, 1fr);
    }
}

.oreo-vid {
    object-fit: cover;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40px;

    @include md {
        width: 70%;
    }
}