.details {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 20px;
    width: 200px;
    color: #6e6e6e;
}
.icons {
    display: flex;
    flex-direction: row;

}

#copyright {
    font-size: 15px;
}

.linkedin {
    padding-right: 10px;
    align-items: center;
}

.linkedin-logo {
    width: 20px;
}

// .email {
//     align-items: flex-end;
// }

.email-logo {
    width: 30px;
}