.contact {
    padding-left: 20px;
    padding-top: 30px;
    font-size: 20px;
    width: 214px;
    color: #6e6e6e;
}

.icons {
    display: flex;
    flex-direction: row;
}

.linkedin {
    padding-right: 10px;
}