.header {
    padding-top: 4%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    justify-content: space-between;
    padding-right: 15px;

    @include md {
        margin-right: 50px;
        padding-top: 2%;
    }
}

.header_logo {
    width: 40px;

    @include md {
        width: 70px;
    }
}

.new_page-block {
	font-family: "Roboto", sans-serif;
    display: flex;
    margin-right: 9px;
}

.new_page1 {
    color: $black;
    font-size: 29px;
    text-decoration: none;
    padding-right: 40px;
    flex-direction: row;

    // &:hover {

    //     text-shadow: -1px 1px #AA8500;

    //     @include md {
    //         text-shadow: -2px 2px #AA8500;
    //     }
    // }

    @include md {
        font-size: 39px;
    }

    @include lg {}
}


.new_page2 {
    color: $black;
    font-size: 29px;
    text-decoration: none;
    padding-right: 40px;
    flex-direction: row;

    // &:hover {

    //     text-shadow: -1px 1px #AA8500;

    //     @include md {
    //         text-shadow: -2px 2px #AA8500;
    //     }
    // }

    @include md {
        font-size: 39px;
    }

    @include lg {}
}

.new_page3 {
    color: $black;
    font-size: 29px;
    text-decoration: none;
    flex-direction: row;

    // &:hover {

    //     text-shadow: -1px 1px #AA8500;

    //     @include md {
    //         text-shadow: -2px 2px #AA8500;
    //     }
    // }

    @include md {
        font-size: 39px;
    }

    @include lg {}
}