.header {
    padding-top: 4%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    justify-content: space-between;
    padding-right: 15px;

    @include md {
        margin-right: 50px;
        padding-top: 2%;
    }
}

.header_logo {
    width: 40px;

    @include md {
        width: 100px;
    }
}

.new_page-block {
	font-family: "PT Serif";
    display: flex;
    margin-right: 9px;
}

.about-page {
    color: $black;
    font-size: 29px;
    text-decoration: none;
    margin-right: 40px;
    flex-direction: row;

    &:hover {

            color: #f590a1;
    }

    @include md {
        font-size: 39px;
    }

    @include lg {}
}


.work-page {
    color: $black;
    font-size: 29px;
    text-decoration: none;
    margin-right: 40px;
    flex-direction: row;

    &:hover {

            color: #f590a1;
    }

    @include md {
        font-size: 39px;
    }

    @include lg {}
}

.play-page {
    color: $black;
    font-size: 29px;
    text-decoration: none;
    flex-direction: row;

    &:hover {

            color: #f590a1;
    }

    @include md {
        font-size: 39px;
    }

    @include lg {}
}