.header {
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 17px;
    display: flex;
    align-items: center;

    @include md {
        padding-top: 19px;
        padding-left: 16px;
        padding-right: 17px;
    }

    @include lg {
        padding-top: 1%;
        padding-left: 26px;
    }
}

.header_logo {
    width: 180px;

    @include md {
        width: 260px;
    }

    @include lg {
        width: 200px;

    }
}

.new_page-block_grid {
    justify-content: center;
    font-size: 14px;
    font-family: 'DotGothic16', sans-serif;
    color: #000000;
    text-decoration: none;
    padding-left: 27%;
    display: flex;
//    &:hover {
//        opacity: 0.5;
//    }

    @include md {
        font-size: 16px;
    }

    @include lg {
        font-size: 29.25px;
    }
}

.new_page1 {
    color: $black;
    font-size: 14px;
    text-decoration: none;
    padding-right: 40%;
    flex-direction: row;
 
   &:hover {
   // text-shadow: 2px 2px 8px #FFC700;
   }



    @include md {
        font-size: 16px;
    }

    @include lg {
        font-size: 29.25px;
    }}


.new_page2 {
    color: $black;
    font-size: 14px;
    text-decoration: none;
    padding-right: 40%;
    flex-direction: row;
//    justify-content: space-between;


    @include md {
        font-size: 16px;
    }

    @include lg {
        font-size: 29.25px;
    }
}

.new_page3 {
    color: $black;
    font-size: 14px;
    text-decoration: none;
    flex-direction: row;
//    justify-content: space-between;


    @include md {
        font-size: 16px;
    }

    @include lg {
        font-size: 29.25px;
    }
}