.all-work-covers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 1fr;
    gap: 15px;

    @include md {
        grid-template-rows: 550px 550px 550px 550px 550px 550px 550px 550px 1fr;
    }

    @include lg {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 550px 550px 550px 550px 1fr;
    }
}

.work-cover-titles {
    width: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0;
    list-style-type: none;
    margin-top: 0px;
    color: #ffffff;
    height: 300px;

    &:hover {
        opacity: 1;
        transition: .3s ease;
        background-color: #f590a1be;
        width: 100%;

        @include lg {
            width: 50%;
        }
    }

    @include md {
        height: 550px;
    }

    @include lg {
        width: 50%;
    }
}

.work-cover-title-1 {
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
    padding-right: 30px;

    @include md {
        font-size: 50px;
    }
}

.work-cover-title-2 {
    font-size: 30px;

    @include md {
    font-size: 40px;
    }
}

.work-cover-image {
    // width: 100%;
    // object-fit: cover;
    // height: 300px;

    // @include md {
    //     height: 550px;
    // }

      max-width: 100%;
  height: auto;
  display: block;
}

.work-cover-vid {
    // width: 100%;
    // height: 300px;
    // object-fit: cover;
    // z-index: -1;

      max-width: 100%;
  height: auto;
  display: block;
    object-fit: cover;

    @include md {
        // height: 550px;
    }
}

.work-cover {
   // width: 100%;
  //  object-fit: cover;
  //  height: 300px;
  max-width: 100%;
  height: auto;
  display: block;
    object-fit: cover;

    @include md {
  //  height: 550px;
    }
}

.all-work-covers {
    margin-left: 15px;
    margin-right: 15px;
}