.all-work-covers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    margin-left: 15px;
    margin-right: 15px;

    @include md {
        grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
        grid-template-columns: repeat(3, 1fr);
    }
}

.work-cover-titles {
    width: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0;
    list-style-type: none;
    margin-top: 0px;
    color: #ffffff;
    height: 100%;
    padding-left: 20px;

    &:hover {
        opacity: 1;
        transition: .3s ease;
        background-color: #f590a1d3;
        width: 100%;
    }
}

.work-cover-title-1 {
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    padding-right: 30px;
    padding-bottom: 10px;

    @include md {
        font-size: 180%;
    }
}

.work-cover-title-2 {
    font-size: 20px;
    padding-bottom: 4px;

    @include md {
        font-size: 110%;
    }
}


.work-cover-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.work-cover-vid {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.work-cover {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    position: relative;
}