.intro {
    font-size: 35px;
    font-weight: 370;
    width: 90%;
    padding-left: 30px;

    @include md {
        padding-left: 30px;
        font-size: 50px;
    }

    @include lg {
    font-size: 60px;
    // padding-left: 110px;
}
}

#intro-name {
    color: #aa8500;
}