.intro {
  //  padding-left: 30px;
    font-size: 35px;
    font-weight: 250;
    width: 90%;
    padding-left: 15px;

    @include md {
        padding-left: 25px;
        font-size: 50px;
    }

    @include lg {
    font-size: 60px;
}
}

#intro-name {
    color: #aa8500;
   // text-shadow: -1px 1px #000000;

    @include md {
   //     text-shadow: -2px 2px #000000;
    }
}