.intro {
    font-size: 25px;
    font-weight: 370;
    width: 90%;
    padding-left: 15px;

    @include md {
      //  padding-left: 30px;
        font-size: 30px;
    }

    @include lg {
    font-size: 40px;
    // padding-left: 110px;
}
}

#intro-name {
    color: #f590a1;
}