.back {
    width: 90%;
    padding-left: 30px;
  }  

.project-title {
    padding-top: 50px;
    font-size: 40px;
    font-weight: 450;
    color: #f590a1;;
    list-style-type: none;

        @include md {
        font-size: 50px;
    }
}

.project-type-tools {
    font-size: 30px;
    color: #000000;
    list-style-type: none;

        @include md {
        font-size: 40px;
    }
}

.project-about-title {
    padding-top: 50px;
    font-size: 30px;
    color: #000000;
    list-style-type: none;
 
        @include md {
        font-size: 40px;
    }
}

.project-process-title {
    padding-top: 20px;
    font-size: 30px;
    color: #000000;
    list-style-type: none;
 
        @include md {
        font-size: 40px;
    }
}

.project-about-text {
    font-size: 30px;
    color: #000000;
    list-style-type: none;
    width: 100%;

    @include md{
    width: 740px;   
    }
    
}
.accord-image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40px;

    @include md {
        width: 70%;
    }
}