.all-play-covers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;

    @include md {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 60px;
    }

    @include lg {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 70px;

    }
}