.play {
   display: grid;
   padding-top: 50px;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: 300px 300px 300px 300px 1fr;

   @include md {
    grid-template-rows: 550px 550px 550px 550px 1fr;
}

    @include lg {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 550px 550px 1fr;
}
}

.crotchet_panel {
    width: 100%;
    object-fit: cover;
    height: 300px;

    @include md {
        height: 550px;
    }
}

.play-magazine-cover {
    width: 100%;
    position: absolute;
    opacity: 0;
    list-style-type: none;
    margin-top: 0px;
    color: #ffffff;
    height: 300px;

    &:hover {
        opacity: 1;
        transition: .3s ease;
        background-color: #f590a1be;
        width: 100%;

        @include lg {
        width: 50%;
        }
    }

    @include md {
        height: 550px;
    }

    @include lg {
    width: 50%;
}
}

.magazine-title {
    padding-top: 20px;
    font-size: 50px;
    font-weight: 500;
}

.hallway-painting_panel {
    width: 100%;
    object-fit: cover;
    height: 300px;

    @include md {
        height: 550px;
    }
}

.pill-print_panel {
    width: 100%;
    object-fit: cover;
    height: 300px;

    @include md {
        height: 550px;
    }
}

.magazine-title-2 {
    font-size: 40px;
}