.all-play-covers {
   display: grid;
   padding-top: 50px;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: 300px 300px 300px 300px 1fr;

   @include md {
    grid-template-rows: 550px 550px 550px 550px 1fr;
}

    @include lg {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 550px 550px 1fr;
}
}