.play {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 550px 1fr;
    padding-top: 65px;
    }
    
    .crotchet_panel {
    width: 100%;
    height: 550px;
    object-fit: cover;
    }