.oreo-guidelines {
    color: #000000;
    transition: 0.25s;
    padding: 10px 20px;
    border-radius: 30px;
    border: solid 2px #000000;
    width: fit-content;
    font-size: 20px;
    margin-top: 25px;
    list-style-type: none;
}

.oreo-guidelines-button {
    color: #000000;
    transition: 0.25s;
    padding: 10px 20px;
    border-radius: 30px;
    border: solid 2px #000000;
    width: fit-content;
    font-size: 20px;
    margin-top: 20px;
}