.works {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 550px 550px 550px 550px 550px 1fr;
}

.magazine_panel {
width: 100%;
height: 550px;
object-fit: cover;
}

.hallway-painting_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.music-poster_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.oreo_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.bartram_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.cake_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.cake-menu_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.pill-print_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.emmelina_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.bread_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.exhibition_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}