body {
    overflow-x: hidden;
}

.works {
    display: grid;
 //   grid-template-columns:  50% auto;
// grid-template-columns: repeat(50% auto) ;
grid-template-columns: repeat(2, 1fr);
}

.magazine_panel {
width: 100%;
height: 550px;
object-fit: cover;
}

.hallway-painting_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.music-poster_panel {
    width: 100%;
}