.works {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 550px 550px 550px 550px 550px 1fr;
}

.magazine_panel {
width: 100%;
height: 550px;
object-fit: cover;

// &:hover {

//     opacity: 0;
//     transition: .3s ease;
//     }

    // background-position: center;
    // background-size: cover;
    // height: max-content;
}

.iba {
    position: absolute;
    opacity: 0;
    color: #000000;
    font-size: 20px;
    width: 50%;
height: 550px;
margin-top: 0px;

    &:hover {

        opacity: 1;
        transition: .3s ease;
        background-color: #d5d5d5;
        
        }
}

.hallway-painting_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.music-poster_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.oreo_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.bartram_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.cake_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.cake-menu_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.pill-print_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.emmelina_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.bread_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.exhibition_panel {
    width: 100%;
    object-fit: cover;
    height: 550px;
}