.wback {
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    height: max-content;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

html,
body {
    overflow-x: hidden;
}

.wpanels {
    padding-top: 8%;
    padding-bottom: 1%;

    @include md {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-top: 5%;
        margin: auto;
    }

    @include lg {

    }
}

.wyesnote {
    scale: 40%;
    cursor: pointer;
    display: flex;

}

.commssheetws_panel {
    position: relative;
    scale: 90%;

    @include md {
        display: none;
    }

    @include lg {
 
    }
}

.commssheetw_panel {
    display: none;

    @include md {
        display: flex;
         position: relative;
         scale: 100%;
    }

    @include lg {
        padding-top: 4%;
        padding-bottom: 10%;
        padding-left: 30%;
        padding-right: 30%;
    }
}